html {
    font-size: .625em; /* fallback IE8+ */
    font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  }

  body {
    font-size: 1.4em; /* base font-size is equivalent "14px" */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@font-face {
    font-family: 'Avenir';
    src: url('quadranta.eot');
    src: url('quadranta.otf') format('truetype'),
         url('quadranta.woff') format('woff'),
         url('quadranta.eot?#iefix') format('embedded-opentype'),
         url('quadranta.svg#QuadrantaBold') format('svg');
    font-weight: normal;
    font-style: normal;
} 
/*
font-family : 'Avenir' on element;
*/

/*
* coleurs:
- Rouge : #fc3b3b;
- Jaune : #f5fc3b;
- Vert  : #56fc3b;
- Noir  : #1e1f1d;
- Gris clair : #e8e7e1;
* 
*/


/*
**************
*** Header ***
**************
*/


.menu {
    display: flex;
}

.menu__links {
    display: flex;
    flex: .25;
    margin-top: 0;
    align-items: center;
    list-style: none;
}

.menu__hyconiq {
    flex: .5;
    text-align: center;
}
.menu__hyconiq img {
    object-fit: contain;
    height: 6rem;
}

.menu__links-link {
    text-transform: uppercase;
    color: #1e1f1d;
    margin-right: 1rem;
}

.menu__links img {
    margin: 0 auto;
}

.menu__connect {
    display: flex;
    flex-direction: column;
    flex: .25;
}
.menu__connect__login {
    height: 50%;
  /*  background: yellow; */
    text-align: center;
    border-left: 2px solid #e8e7e1;
    border-top: 2px solid #e8e7e1;
    border-right: 2px solid #e8e7e1;
    
}
.menu__connect__login-connexion {
    line-height: 2.5rem;
    color: #1e1f1d;
    text-transform: uppercase;
}

.menu__follow {
    display: flex;
   /* background: green; */
    height: 50%;
    text-align: center;
    border: 0.5px solid #e8e7e1;
}

.menu__follow-link {
    flex: .5;
    border: 0.5px solid #e8e7e1;
    vertical-align: middle;
    line-height: 2.5rem;
    color: #1e1f1d;
    text-transform: uppercase;
}


/*
******************
*** Fin Header *** 
******************
*/


/*
**************
*** Section **
**************
*/
.content, .content__contact, .content__myaccount, .content__homepremium {
   /* padding: 3rem 0; */
    height: auto; /*height: 100vh;*/
    padding: 5rem 4rem 0rem 4rem;
}
.content__container__article {
    height: 100vh !important;
    background: #1e1f1d;
}
.content__homepremium {
   background: #1e1f1d;
}

.content-category {
    padding: .5rem;
    text-decoration: none;
    background: white;
    color: #1e1f1d; 
}
.content-title {
    color: white;
}
.content-reader {
    width: 100%;
    object-fit: fill;
    height: 55rem;
}

.content-from {
    text-align: center;
}

.content__paragraph {
    width: auto;
    display: flex;
    justify-content: space-between;
}
.content__paragraph-content {
    flex: .8;
    padding: 0rem 2rem .5rem 0rem; 
}
.content__paragraph__pub {
    background: lightgrey;
    flex: .2;  
}
.content__paragraph-paragraph {
    font-size: 1.8rem;
 
}
.content__paragraph__tags-links {
    padding: .4rem;
    border: 1px solid black;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
    margin-right: .6rem;
}
.content__discord {
    display: flex;
    padding-top: 3rem;
}
.content__discord__panel {
    flex: .8;
    background: #738ADB;
    height: 10rem;
   
}
.content__discord__panel-image {
    height: 10rem;
    width: auto;
}
.content__discord__panel-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content__discord__panel-join {
    height: 6rem;
    flex: .3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content__discord__panel-join span:nth-child(even) {
    background: #162634;
    padding: 1.4rem;
    font-weight: bold;
}

.content__pub {
    background: lightgrey;
    height: 17rem;
    flex: 1;
    margin-top: 2rem;
}
.content__other__articles, .new__home-content {
    padding-bottom: 13rem;
}
.content__other__articles-title {
    border: 1px solid black;
    padding: .6rem;
    width: 18rem;
}
.content__other__articles-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content__other__articles-pos {
    height: 25rem;
    margin-bottom: 2rem;
}
.new__home {
    width: 60%;
    border: 1px solid black;
    height: 30rem;
    padding: 0rem 3rem 3rem 3rem;
    margin-top: 5rem;
}
.new__home h1 {
    padding-top: 1rem;
}

.new__home-img {
    display: flex;
    justify-content: space-between; 
}
.new__home-image {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
}
.new__home-div {
    position: relative;
    
}
.new__home-div p {
    border: 1px solid black;
}
.new__home-div p {
   position: absolute;
   left: 50%;
   top: 79%;
   padding: 1.5rem;
   transform: translate(-50%);
   background: white;
   text-transform: uppercase;
   text-decoration: underline;
   font-size: 1.5rem;
   white-space: nowrap;
}
/*
*******************
*** End Section ***
*******************
*/

/*
*******************
*** Contact *******
*******************
*/
input, textarea, select {
    outline: none;
}
textarea {
    resize: none;
    width: 99.6rem;
    height: 15rem;
}
.content__contact, .content__myaccount {
    height: 15rem;
    background: #1e1f1d;
}

.content__contact-container, .content__homepremium-container {
    text-align: center;
    transform: translateY(-35%);
}
.content__contact-container h1, .content__homepremium-container h1, .content__myaccount-section h1   {
    color: white;
    text-transform: uppercase;
    letter-spacing: 6rem; 
    font-style: italic;
}
.content__contact-paragraph {
    color: white;
    font-size: 2rem;
}

.content__contact-fill, .content__account-fill {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.content__account-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content__contact-line, .content__account-line {
    background: black;
    width: 100%;
    height: .1rem;
}
.content__contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding-bottom: 13rem;
}
.content__contact-form input, .content__contact-form textarea {
    border: 1px solid #e8e7e1; 
}
.content__contact-form input::placeholder, .content__contact-form textarea::placeholder, select {
    padding-left: .5rem;
    color: black;
    font-style: italic;
}
.content__contact-form button {
   border: none;
   background: #f5fc3b;
   font-weight:bold;
}
.content__contact-nomlarge, .content__contact-usernamelarge {
    width: 45.5rem; 
    margin-right: 8rem;
    padding: .9rem 0 .9rem 0;
}
.content__contact-maillarge {
   width: 99.7rem;
   padding: .9rem 0 .9rem 0;
   margin-top: 2rem;
}
.content__contact-objectlarge {
    width: 100rem;
    padding: .9rem 0 .9rem 0;
    margin-top: 2rem;
    border: 1px solid #e8e7e1;
}
#content__contact-fileInput {
    display: none;
}
input#content__contact-fileInput + label {
    margin-top: 2rem;
    padding: .9rem 0 .9rem 0;
    width: 99.8rem;
    display: block;
    border: 1px solid #e8e7e1;
}
.content__contact-joinlarge {
    margin-bottom: .9rem;
}
.content__contact-form button {
    left: 48%;
    padding: 1rem 3rem 1rem 3rem;
    position: absolute;
    transform: translateX(-50%);
}

/*
*******************
*** End Contact ***
*******************
*/

/*
*******************
*** Account *******
*******************
*/

.content__myaccount-container {
   display: flex;
   justify-content: space-around;
}
.content__myaccount-content {
    border: 1px white solid;
    display: flex;
    background: white;
    flex-direction: column; 
    padding: 0 6rem 0 6rem;   
}
.content__myaccount-content h3 {
    order: 2;
    text-align: left;
    transform: translateY(-30%);
}
.content__myaccount-content img  {
    order: 1;
    position: relative;
    left: 125%;
}
.content__myaccount-star, .content__myaccount-info, .content__myaccount-message {
    height: 2rem;
    width: 2rem;
}
.content__myaccount-section {
    text-align: center;
    transform: translateY(-35%);
}
.content__account-fav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr .5fr;
    gap: 1em 1em;
    /*background: lightgrey;*/
    height: auto;
    grid-template-areas:
      "content__account-fav1 content__account-fav2 content__account-fav3"
      "content__account-fav4 content__account-fav5 content__account-fav6";
}
.content__account-fav p {
    font-size: 2.4rem;
}
.content__account-button {
    background: none;
	color: inherit;
	border: 1px solid black;
    padding: 1rem 2.5rem 1rem 2.5rem;
    text-decoration: underline;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/*
.content__account-fav1 { grid-area: content__account-fav1; 
    background:red;     
}
.content__account-fav2 { grid-area: content__account-fav2; 
    background: yellow; 
}
.content__account-fav3 { grid-area: content__account-fav3; 
    background: purple; 
}
.content__account-fav4 { grid-area: content__account-fav4; 
    background: green; 
}
.content__account-fav5 { grid-area: content__account-fav5; 
    background: blue; 
}
.content__account-fav6 { grid-area: content__account-fav6; 
    background: orange; 
}
*/
.content__account-line {
    margin-bottom: 2rem;
}
.content__account-favImg {
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.content__account-arrow {
    display: flex;
    justify-content: center;
}
.content__account-arrowleft {
    margin-right: 2rem !important;
}
.content__account-arrowleft, .content__account-arrowright {
    width: auto;
    height: 3rem;
    padding: 2rem;
    border: 1px solid black;
    margin: 2rem 0 2rem 0;
}
/*
*******************
*** End Account ***
*******************
*/

/*
*******************
**** Premium ******
*******************
*/

.content__homepremium-content {
    display: flex;
    width: 100%;
    height: auto;
}
.content__homepremium-description {
    height: 23rem;
    width: 50%; 
    z-index: 8000;  
}
.content__homepremium-linktitle {
    border: 1px solid white;
    padding: .5rem;
    text-decoration: none;
}
.content__homepremium-linktitle a {
    text-decoration: none;
    color: white;
}
.content__homepremium-link {
    color: white;
    padding: 1rem 2rem 1rem 2rem;
    border: 1px solid white;
}
.content__homepremium-description h1 {
    padding: 1rem;
    border: 1px solid white;
    width: 105%;
    background: white;
    z-index: 9999;
    margin-top: 3rem;
}
.content__homepremium-description p {
    color: white;
    margin-bottom: 4rem;
    padding-right: 1rem;
}

.content__homepremium-img {
    height: 40rem;
    width: 50%;
    background: url('https://cdn.hipwallpaper.com/i/70/18/RQU29s.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 2;
}
.content__other-homepremium-pos {
    margin-right: 5rem;
}
.content__other-homepremium-content {
    margin-top: 4rem;
    display: flex;
}
.content__other-homepremium-description {
    width: 25%;
}
.content__other-homepremium-img {
    background:#1e1f1d;
    width: 25%;
}
.content__other-homepremium-img img {
    width: 100%;
    height: auto;
}
.content__other-homepremium-button {
    background:  #1e1f1d;
    display: flex;
    justify-content: space-around;
}
.content__homepremium-line {
    background: white;
    width: 94.5%;
    height: .1rem;
    margin-bottom: 2rem;
}
.content__homepremium-containerlist {
    padding: 5rem 0 13rem 0;
    background:  #1e1f1d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content__homepremium-dimension {
    height: 30rem;
    width: 94%;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__homepremium-a  {
    color: white;
    font-size: 6rem;
    text-decoration: none;
    z-index: 9999;
}
.content__homepremium-music, .content__homepremium-mode, .content__homepremium-gaming  { 
    background-repeat: no-repeat;
    background-position-y: 15%;
    background-size: cover;  
    z-index: 2;
}

.content__homepremium-music {
    background-image: url('https://cdn.hipwallpaper.com/i/70/18/RQU29s.jpg');
}

.content__homepremium-mode {
    background-image: url('https://img-3.journaldesfemmes.fr/weFWATRTm27mcA8-qcHNAwJgfaA=/910x607/smart/ad2f7fbb096b429f8190e0b671996e4e/ccmcms-jdf/17779943.jpg');
}
.content__homepremium-gaming {
    background-image: url('https://wallpapercave.com/wp/wp6967907.png');
}
/*
*******************
*** End Premium ***
*******************
*/


/*
**************
*** Footer ***
**************
*/

footer {
    height: 25rem;
    width: 100%;
    background: #1e1f1d;
   /* margin-top: 13rem; */
}
.content__footer-actuality {
    border: 1px solid white;
    text-align: center;
    height: 17.5rem;
    transform: translateY(-23%);
    background: #1e1f1d;
}
.content__footer-actuality h1 {
    color: #f5fc3b;
}
.content__footer-actuality button {
    margin-top: .5rem;
    background: #f5fc3b;
    padding: .4rem 3rem .4rem 3rem;
    border: none;
    font-weight: bold;
    font-size: 1.7rem;
    text-transform: uppercase;
}

.content__footer {
    display: flex;
    justify-content: space-around;
}
.content__footer-hyconiq img {
    object-fit: contain;
    height: 6rem;
}
.content__footer-mail {
    width: 86%;
    padding: .4rem;
    margin-top: .5rem;
}
.content__footer-username {
    width: 41.3%;
    padding: .4rem;
}
.content__footer-nom {
    width: 41.3%;
    padding: .4rem;
}
.content__footer-hyconiq, .content__footer-list {
    margin-top: 3rem;
}
.content__footer-list ul {
 list-style:none;
 text-align: center;
}
.content__footer-list ul li {
    margin-bottom: .4rem;
}
.content__footer-list ul li a {
    color: white;
    font-size: 1.7rem;
    font-style: italic; 
}
.content__footer-actuality input::placeholder {
    text-align: center;
    color: black;
    font-style: italic;
}
.content__footer-copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

/*
*******************
*** End Footer ****
*******************
*/
